
Q1Ans: values are: 'hello', -87.8, 6
       expression are: *, -, /, +

Q2Ans: Variable is used to store data and information where as string is a type of data which we stored in a variable. For e.g

In [1]:
a= 'Amrita'

In [2]:
type(a)

str

so, a is my variable and 'Amrita is string

Q3Ans) Data type is an important concept. variables can store data of different datatypes.
Three different data types are:
(i) int : this is a data type which is used to store positive and negative integers like -9,8,7,0
(ii) float: this is a data type which is used to storedecimal numbers. like 9.87,-8.765
(iii) str(string): this is a data type which is used to store characters. string is declared within' ' or " "

In [3]:
a=9
type(a)

int

In [4]:
b=8.97
type(b)

float

In [5]:
p='priya'
type(p)

str

Q4 Ans: An expression made up of operators and operands that operates to produce some other values.An expression is evaluated as per the order of the operators

Q5 Ans: An expression made up of operators and operands that operates to produce some other values. 
on the other hand, are everything that can make up a line (or several lines) of Python code are called statements.
every expression is a statement where as every statement is not an expression.

Q6 Ans bacon value will be 22

In [6]:
bacon=22
bacon+1

23

In [7]:
bacon

22

Q7 ans

In [8]:
'spam'+'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

Q8 Ans: varaible name in python can contain alphabets Ato z in upper case as well as lowercase , digits (0-9) and the underscore character but the first character of the variable can not be a digit 
that is why eggs is an valid variable name where as 100 is invalid.

Q9 Ans: function can be used to get the integer is int().
function can be used to get the floating point number is float().
function can be used to get the string is str().

Q10 Ans:99 is an integer, and only string can be combined with another string with a + operator.
that's why it is showing errror.

In [10]:
'I have eaten'+99+ 'burritos'

TypeError: can only concatenate str (not "int") to str